:root {
  --theme-background-color: #1d88ec;
  --theme-background-color-hover: #1d54ec;
  --theme-border: 1px solid #1d54ec;
  --disabled-opacity: 0.8;
  --disabled-cursor: not-allowed;
  --disabled-background-color: #ededed;
  --disabled-border-color: #c3c3c3;
  --form-border: 1px solid #c3c3c3;
  --form-border-color: #c3c3c3;
  --form-border-width: 1.5px;
  --form-border-style: solid;
  --form-border-radius: 4px;
  --form-placeholder-color: #7d7d7d;
  --form-font-size: 12px;
  --form-padding: 10px;
  --form-box-sizing: border-box;
  --focus-border-color: #2684ff;
  --focus-outline: 0;
  --focus-webkit-box-shadow: inset 0 0 0 1px #2684ff;
  --focus-box-shadow: inset 0 0 0 1px #2684ff;
  --validation-border-color: #e9a744;
  --validation-outline: 0;
  --validation-webkit-box-shadow: inset 0 0 0 1px #e9a744;
  --validation-box-shadow: inset 0 0 0 1px #e9a744;
  --validation-color: #d17d00;
  --validation-font-size: 10px;
  --validation-margin-top: 5px;
}

@font-face {
  font-family: Poppins-Regular;
  src: local(Poppins-Regular),
    url("/public/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins-Bold;
  src: local(Poppins-Bold),
    url("/public/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: local(Poppins-ExtraBold),
    url("/public/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f3f3f3;
  background-color: #24272a;
}

p {
  margin: 0;
  font-size: 13px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

#root {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: var(--theme-background-color);
  border: var(--theme-border);
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--theme-background-color-hover);
  border: var(--theme-border);
}

button:disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--disabled-cursor);
  background-color: var(--disabled-background-color);
  color: rgba(0, 0, 0, 0.411);
  border-color: var(--disabled-border-color);
}

.label-group {
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

label.label-required::after {
  content: "*";
  margin-left: 3px;
  color: #ec1d1d;
}

.input-group {
  margin-bottom: 35px;
}

input {
  width: 100%;
  padding: var(--form-padding);
  box-sizing: var(--form-box-sizing);
  border-color: var(--form-border-color);
  border-width: var(--form-border-width);
  border-style: var(--form-border-style);
  border-radius: var(--form-border-radius);
}

input:disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--disabled-cursor);
  background-color: var(--disabled-background-color);
  border-color: var(--disabled-border-color);
}

input[type="date" i] {
  padding-inline-start: 1px;
  padding: 8px;
}

input[type="checkbox"] {
  width: unset;
  margin-right: 5px;
}

input:focus {
  border-color: var(--focus-border-color);
  outline: var(--focus-outline);
  -webkit-box-shadow: var(--focus-webkit-box-shadow);
  box-shadow: var(--focus-box-shadow);
}

div.error-validation {
  font-size: var(--validation-font-size);
  margin-top: var(--validation-margin-top);
  color: var(--validation-color);
}

input.error-validation {
  border-color: var(--validation-border-color);
  outline: var(--validation-outline);
  -webkit-box-shadow: var(--validation-webkit-box-shadow);
  box-shadow: var(--validation-box-shadow);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--form-placeholder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--form-placeholder-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--form-placeholder-color);
}
